// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Mohammad Taghi Alavi

#include <windows.h>
#include "resource.h"

IDI_DAD_CLOCK ICON "DADClock.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "AAA IT UAE\0"
            VALUE "FileDescription", "DAD Clock\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "DADClock\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 Mohammad Taghi Alavi\0"
            VALUE "OriginalFilename", "DADClock.exe\0"
            VALUE "ProductName", "DAD Clock\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
